.container{
    display: flex ;
    flex-direction: row;
    margin: 5px
    
    /* flex: 0 0 auto; */
    /* flex-direction: row;
    flex-wrap: wrap; */
}

.container-box{
    flex: 0 0 40%;
    /* justify-content: center; */
}

.box {
    
    background-color: rgb(241, 214, 214);
    /* margin: 5px; */
    min-width: 100%;  
}

.container-section{
    background-color: rgb(155, 155, 233);
    min-width: auto;
    max-width: 60%;
    /* margin: 5px; */
}