*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    /* background-color: rgb(233, 233, 233); */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
}

main{
    margin: 5px;
   /*  background-color: aquamarine; */
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(73, 72, 72);
}

input{
    border: 0;
    /* width: 80%; */
}

footer{
    background-color: rgba(233, 233, 233, 0.966);
    padding: 5px;
    color: grey;
}

.items{
    /* font-size: 12px; */
    display: inline-flex;
    padding-inline: 8px;
}

.headerNav{
    /* padding: 2px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 */
}

.container-headerNav_items{
    list-style: none;
    display: inline-block;
    padding: 3px;
    align-items: center;
}

.headerMenu{
    display: inline-flex;
    /* font-size: 12px; */
    margin-left: 3px;
    color: rgb(73, 72, 72);
}

.menu{
    padding-right: 5px;
}

.figurePrincipal{
    background-color: brown;
    /* margin-top: 30px; */
}


.searcher{
    /* background-color: rgb(238, 231, 165); */
    display: inline-flex;
    width: 60%;
    border-radius: 10px;
    border: gray  solid 1px;
    justify-content: space-around;
    margin-block: 5px;
    
}

.searcher-search{
    width: 80%;
}

.container-searcherButton{
    margin-block-end: 20px;
    
}

.searcher-button{
    padding: 5px;
    background-color: rgb(233, 230, 230);
    border-style: none;
    border-radius: 3px;
}

.country{
    margin: 5px;
}

.navFoother{
    margin: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

